@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
    --color-aqua: black;
}

@layer base {
    input {
        padding: 7px;
        outline: none;
    }
}

@layer components {
    .log-button {
        margin: auto;
        background-color: aqua;
        color: black;
        font-size: larger;
        border: 1px solid aqua;
        padding: 4px 8px;
        border-radius: 7px;
        cursor: pointer;
    }

    .log-button:hover {
        background-color: black;
        color: aqua;
        box-shadow: 0px 0px 10px 4px aqua;
        transition: all 0.7s ease-in-out;
    }
}